# Copyright 2022 Engineering Ingegneria Informatica S.p.A.
#
# This file is part of the IoT Agent for the OPCUA protocol (iotagent-opcua) component
#
# iotagent-opcua is free software: you can redistribute it and/or
# modify it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the License,
# or (at your option) any later version.
#
# iotagent-opcua is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
# See the GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public
# License along with iotagent-opcua.
# If not, see http://www.gnu.org/licenses/.
#
# For those usages not covered by the GNU Affero General Public License
# please contact with: [manfredi.pistone@eng.it, gabriele.deluca@eng.it, walterdomenico.vergara@eng.it, mattiagiuseppe.marzano@eng.it]

version: "3.1"

volumes:
  mongodb: ~

services:
  iotagent-ui-spa:
    build: ../iotagent-ui-spa
    hostname: iotagent-ui-spa
    depends_on:
      - iotagent-ui-bff
    networks:
      - hostnet
    ports:
      - "80:80"
    environment:
      - "BFF_API_HOST=localhost"
      - "BFF_API_PORT=9000"

  iotagent-ui-bff:
    build: ../iotagent-ui-bff
    hostname: iotagent-ui-bff
    depends_on:
      - mongodb
    networks:
      - hostnet
    ports:
      - "9000:9000"
    environment:
      - "NODE_ENV=true"
      - "PORT=9000"
      - "MONGO_HOST=mongodb"
      - "MONGO_PORT=27017"
      - "MONGO_DB=iotagent_ui"
      - "AUTH_SECRET=secret"
      - "ADMIN_ACCOUNT=true"

  mongodb:
    image: mongo:4.2
    hostname: mongodb
    networks:
      - hostnet
    expose:
      - "27017"
    command: --bind_ip_all
    volumes:
      - mongodb:/data

networks:
  hostnet:
