<app-main-sidebar></app-main-sidebar>

<div *ngIf="mode === 'view'" class="flex flex-column mt-5 centered">

    <p-fieldset legend="Actions" styleClass="mb-2" class="view-width">
        <p-toolbar>
            <ng-template pTemplate="left">
                <button pButton pRipple label="Add device" icon="pi pi-plus" class="p-button-success mr-2" (click)="onAddDevice()"></button>
                <button icon="pi pi-sitemap" label="Change view (Device Tree)" *ngIf="showedLayout === 'Hierarchical' && devices && devices.devices" pButton pRipple class="p-button change-view-button" (click)="changeLayout()"></button>
                <button icon="pi pi-list" label="Change view (List)" *ngIf="showedLayout === 'mindmap' && devices && devices.devices" pButton pRipple class="p-button change-view-button" (click)="changeLayout()"></button>
            </ng-template>
            <ng-template pTemplate="right">
                <button pButton pRipple label="Download" icon="pi pi-download" class="p-button-primary mr-2" (click)="downloadJsonConfiguration()"></button>
            </ng-template>
        </p-toolbar>    
        <p-toolbar styleClass="mt-2" *ngIf="selectedDevice && showedLayout === 'mindmap'">
            <ng-template pTemplate="left">
                <b>Identifier</b>: &nbsp; <p style="font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;">{{ selectedDevice.device_id }}</p>
            </ng-template>
            <ng-template pTemplate="right">
                <button pButton pRipple label="Edit" icon="pi pi-file-edit" class="p-button p-button-success mr-2" (click)="editDevice(selectedDevice)"></button>
                <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button p-button-warning" (click)="deleteDevice(selectedDevice)"></button>
            </ng-template>
        </p-toolbar>
    </p-fieldset>
    <div *ngIf="showedLayout === 'Hierarchical'" class="view-width">
        <p-fieldset *ngIf="devices && devices.devices" legend="List ( Total: {{devices.devices.length}} )" styleClass="mt-2">
            <div class="fieldset-content">
                <div class="table-width">
                    <p-table 
                        *ngIf="showedDevices" 
                        [value]="showedDevices" 
                        responsiveLayout="stack" [breakpoint]="'960px'"
                        [paginator]="true"
                        [rows]="10"
                        [rowsPerPageOptions]="[10, 20]"
                        >
                        <ng-template pTemplate="header">
                            <tr>
                                <th>
                                    <div>   
                                        Identifiers
                                        <input type="text" pInputText class="search-field" placeholder="Search by ID (Full text search)" id="filter_device" #filter_device (input)="interactiveSearchDevice(filter_device.value)">
                                        <p-dropdown
                                            [(ngModel)]="selectedType" 
                                            styleClass="ml-2"
                                            [options]="entityTypes"
                                            placeholder="Search by type"
                                        ></p-dropdown>
                                        <i pTooltip="Filter by type" tooltipPosition="top" class="pi pi-search ml-2" (click)="searchDeviceBytype()"></i>
                                        <i pTooltip="Clear Filter" tooltipPosition="top" class="pi pi-filter-slash ml-2" (click)="refreshFilters()"></i> 
                                        <i pTooltip="Reset" tooltipPosition="top" class="pi pi-refresh ml-2" (click)="totalReset()"></i> 
                                    </div>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item>
                            <tr>
                                <td (click)="OnSelectedDevice(item)" [ngClass]="(item.device_id === selectedDevice?.device_id) ? 'selectedRow' : 'unselectedRow'">{{ item.device_id }}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <div class="panel-width">
                    <p-panel header="Details">
                        <ng-template pTemplate="header">
                            <div class="custom-header"></div>
                        </ng-template>
                        <p *ngIf="!selectedDevice"> Select an Identifier to see the device details here</p>
                        <div *ngIf="selectedDevice" class="selected-device">
                            <p-panel header="Info">
                                <p><strong>Name:</strong> {{ selectedDevice.entity_name }}</p>
                            </p-panel>
                            <p-panel header="Tenant" [toggleable]="true">
                                <p><strong>Api Key:</strong> {{ selectedDevice.apikey }}</p>
                                <p><strong>Service:</strong> {{ selectedDevice.service }}</p>
                                <p><strong>Service path:</strong> {{ selectedDevice.service_path }}</p>
                                <p><strong>Endpoint:</strong> {{ selectedDevice.endpoint }}</p>
                            </p-panel>
                            <p-panel header="Context Informations" [collapsed]="true" [toggleable]="true">
                                <b>Active</b>: <p-tag [value]="selectedDevice.attributes?.length" class="cursor-pointer" (click)="onOpenAttributes(selectedDevice)"></p-tag>&nbsp;
                                <b>Lazy</b>: <p-tag [value]="selectedDevice.lazy?.length" class="cursor-pointer" (click)="onOpenLazy(selectedDevice)"></p-tag>&nbsp;
                                <b>Static</b>: <p-tag [value]="selectedDevice.static_attributes?.length" class="cursor-pointer" (click)="onOpenStaticAttributes(selectedDevice)"></p-tag>&nbsp;
                                <b>Commands</b>: <p-tag [value]="selectedDevice.commands?.length" class="cursor-pointer" (click)="onOpenCommands(selectedDevice)"></p-tag>
                            </p-panel>
                            <p-panel header="Operations">
                                <button pButton pRipple label="Edit" icon="pi pi-file-edit" class="p-button p-button-success" (click)="editDevice(selectedDevice)"></button>
                                <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button p-button-warning ml-2" (click)="deleteDevice(selectedDevice)"></button>
                            </p-panel>
                        </div>
                    </p-panel>
                </div>
            </div>
        </p-fieldset>
    </div>
    <div [hidden]="showedLayout === 'Hierarchical'">
        <p-fieldset legend="Device Tree" styleClass="mb-2">
            <div id="map"></div>
        </p-fieldset>
    </div>
</div>
<div *ngIf="mode === 'add/edit'" class="flex flex-column mt-5 centered">
    <app-add-device [data]="data" (operationCompleted)="onCloseAddDevice($event)"></app-add-device>
</div>

<div class="card flex justify-content-center gap-2">
    <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
</div>