<app-main-sidebar></app-main-sidebar>

<div class="flex flex-column mt-5">
    <p-fieldset *ngIf="devices && devices.devices" legend="List">
        <p-toolbar styleClass="mb-4">
            <ng-template pTemplate="left">
                <button pButton pRipple label="Add device" icon="pi pi-plus" class="p-button-success mr-2" (click)="onAddDevice()"></button>
            </ng-template>
        </p-toolbar>
        <p-table *ngIf="devices.devices" [value]="devices.devices" responsiveLayout="stack" [breakpoint]="'960px'" [tableStyle]="{'min-width': '50rem'}">
            <ng-template pTemplate="header">
                <tr>
                    <th>device_id</th>
                    <th>apikey</th>
                    <th>service</th>
                    <th>service_path</th>
                    <th>entity_type</th>
                    <th>entity_name</th>
                    <th>endpoint</th>
                    <th>attributes</th>
                    <th>lazy</th>
                    <th>commands</th>
                    <th>static_attributes</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr>
                    <td>{{ item.device_id }}</td>
                    <td>{{ item.apikey }}</td>
                    <td>{{ item.service }}</td>
                    <td>{{ item.service_path }}</td>
                    <td>{{ item.entity_type }}</td>
                    <td>{{ item.entity_name }}</td>
                    <td>{{ item.endpoint }}</td>
                    <td>
                        <p-tag [value]="item.attributes?.length" class="cursor-pointer" (click)="onOpenAttributes(item)"></p-tag>
                    </td>
                    <td>
                        <p-tag [value]="item.lazy?.length" class="cursor-pointer" (click)="onOpenLazy(item)"></p-tag>
                    </td>
                    <td>
                        <p-tag [value]="item.commands?.length" class="cursor-pointer" (click)="onOpenCommands(item)"></p-tag>
                    </td>
                    <td>
                        <p-tag [value]="item.static_attributes?.length" class="cursor-pointer" (click)="onOpenStaticAttributes(item)"></p-tag>
                    </td>
                    <td>
                        <button pButton pRipple icon="pi pi-file-edit" class="p-button-rounded p-button-success" (click)="editDevice(item)"></button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteDevice(item)"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-fieldset>
</div>

<div *ngIf="devices && devices.devices" class="flex gap-2 mt-5 w-full">
    <p-fieldset legend="JSON" class="flex-grow-1">
        <div *ngIf="devices">
            <p-splitter [style]="{ width: '100%' }" styleClass="mb-5">
                <ng-template pTemplate>
                    <div class="col overflow-y-scroll overflow-x-scroll" style="max-width: 50vw;">
                        <ngx-json-viewer [depth]="2" [json]="devices"></ngx-json-viewer>
                    </div>
                </ng-template>
                <ng-template pTemplate>
                    <div class="col overflow-y-scroll overflow-x-scroll">
                        <pre>{{devices | json}}</pre>
                    </div>
                </ng-template>
            </p-splitter>
            
        </div>
    </p-fieldset>
</div>

<div class="card flex justify-content-center gap-2">
    <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
</div>