<app-main-sidebar></app-main-sidebar>

<div *ngIf="configGroups && configGroups.services" class="flex gap-2 mt-5 w-full">
    <p-fieldset legend="List" class="flex-grow-1">
        <p-table *ngIf="configGroups.services" [value]="configGroups.services" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="header">
                <tr>
                    <th>resource</th>
                    <th>apikey</th>
                    <th>service</th>
                    <th>subservice</th>
                    <th>entity_type</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr>
                    <td>{{ item.resource }}</td>
                    <td>{{ item.apikey }}</td>
                    <td>{{ item.service }}</td>
                    <td>{{ item.subservice }}</td>
                    <td>{{ item.entity_type }}</td>
                </tr>
            </ng-template>
        </p-table>
    </p-fieldset>
</div>

<div *ngIf="configGroups && configGroups.services" class="flex gap-2 mt-5 w-full">
    <p-fieldset legend="JSON" class="flex-grow-1">
        <div *ngIf="configGroups">
            <p-splitter [style]="{ width: '100%' }" styleClass="mb-5">
                <ng-template pTemplate>
                    <div class="col overflow-y-scroll overflow-x-scroll" style="max-width: 50vw;">
                        <ngx-json-viewer [depth]="2" [json]="configGroups"></ngx-json-viewer>
                    </div>
                </ng-template>
                <ng-template pTemplate>
                    <div class="col overflow-y-scroll overflow-x-scroll">
                        <pre>{{configGroups | json}}</pre>
                    </div>
                </ng-template>
            </p-splitter>   
        </div>
    </p-fieldset>
</div>
