<p-card>
    <form [formGroup]="form" class="flex flex-column">
      <input type="hidden" formControlName="id">
      <p-image styleClass="rounded-image" [src]="imageSource" alt="Image" width="150"></p-image>
      <p-dropdown formControlName="type" [options]="agentTypes" optionValue="value" optionLabel="label" placeholder="Select a type" (onChange)="onTypeChange($event)"></p-dropdown>
      <div *ngIf="form.controls.type.invalid && (form.controls.type.dirty || form.controls.type.touched)" class="form-alert">
        <div *ngIf="form.controls.type.errors?.['required']">SelectedType for the Agent is required</div>
      </div>
      <input pInputText [readOnly]="loading" formControlName="host" placeholder="host" class="my-2"/>
      <div *ngIf="form.controls.host.invalid && (form.controls.host.dirty || form.controls.host.touched)" class="form-alert">
        <div *ngIf="form.controls.host.errors?.['required']">Host is required</div>
      </div>
      <input pInputText [readOnly]="loading" formControlName="port" class="my-2" placeholder="port" />
      <div *ngIf="form.controls.port.invalid && (form.controls.port.dirty || form.controls.port.touched)" class="form-alert">
        <div *ngIf="form.controls.port.errors?.['required']">Port must be a number</div>
      </div>
      <input pInputText [readOnly]="loading" formControlName="apiKey" placeholder="apiKey" class="my-2"/>
      <div *ngIf="form.controls.apiKey.invalid && (form.controls.apiKey.dirty || form.controls.apiKey.touched)" class="form-alert">
        <div *ngIf="form.controls.apiKey.errors?.['required']">API Key is required</div>
      </div>
      <div class="flex flex-row mt-2">
        <p-button label="Cancel" [disabled]="loading" severity="secondary" (click)="onCancel()" class="mr-2"></p-button>
        <p-button label="Add" [disabled]="loading" (click)="onSubmit()"></p-button>
      </div>
      
    </form>
</p-card>
