<p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
        <button pButton pRipple label="Add" icon="pi pi-plus" class="p-button-success mr-2" (click)="insertService()"></button>
    </ng-template>
</p-toolbar>

<p-table
    #dt
    [value]="agent && agent.services ? agent.services : []"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="['service', 'servicePath']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
>
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            <h5 class="m-0">FIWARE Services</h5>
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Search..." />
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="service" style="min-width:15rem">service <p-sortIcon field="service"></p-sortIcon></th>
            <th pSortableColumn="servicePath" style="min-width:10rem">servicePath <p-sortIcon field="servicePath"></p-sortIcon></th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-service>
        <tr>
            <td>{{ service.service }}</td>
            <td>{{ service.servicePath }}</td>
            <td>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteService(service)"></button>
                <button pButton pRipple icon="pi pi-arrow-right" class="p-button-rounded p-button-success" (click)="activateService(service)"></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">In total there are {{ agent && agent.services ? agent.services.length : 0 }} services.</div>
    </ng-template>
</p-table>
    