<app-main-sidebar></app-main-sidebar>

<div class="flex gap-2 mt-5 w-full">
    <p-fieldset legend="Connection endpoint" class="flex-grow-1">
        <p class="m-0">
            {{endpoint}}
        </p>
    </p-fieldset>
    <p-fieldset legend="API key" class="flex-grow-1">
        <p class="m-0">
            {{apiKey}}
        </p>
    </p-fieldset>
    <p-fieldset legend="Status" class="flex-grow-1">
        <p class="m-0">
            <span *ngIf="version">
                <i class="pi pi-circle-fill" style="color: green;"></i> Connected
            </span>
            <span *ngIf="!version">
                <i class="pi pi-circle-fill" style="color: red;"></i> Disconnected
                <p-button (click)="getVersion()" icon="pi pi-refresh" [rounded]="true" [outlined]="true" size="small"></p-button>
            </span>
        </p>
    </p-fieldset>
</div>

<div class="flex mt-5 w-full">
    <app-global-input class="w-full"></app-global-input>
</div>

<div *ngIf="version" class="flex gap-2 mt-5 w-full">
    <p-fieldset legend="Version" class="flex-grow-1">
        <div *ngIf="version">
            <p-splitter [style]="{ height: '300px' }" styleClass="mb-5">
                <ng-template pTemplate>
                    <div class="col overflow-y-scroll overflow-x-scroll" style="max-width: 50vw;">
                        <ngx-json-viewer [json]="version"></ngx-json-viewer>
                    </div>
                </ng-template>
                <ng-template pTemplate>
                    <div class="col overflow-y-scroll overflow-x-scroll">
                        <pre>{{version | json}}</pre>
                    </div>
                </ng-template>
            </p-splitter>
            
        </div>
    </p-fieldset>
</div>


