/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css";

* {
    font-size: .95rem;
}

:root {
    font-size: .95rem;
}

body {
    background: #eee;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.form-alert {
    font-size: 0.8rem;
    color: red;
}