<p-sidebar [(visible)]="sidebarVisible">
    <img src="assets/fiware-logo.png" class="w-4"/>
    <h3 class="mt-1">IoT Agent UI</h3>
    <div *ngIf="activeAgent && activeService">
        <h5 class="m-0">Selected agent</h5>
        <p class="m-0">{{utils.agentTypesMap[activeAgent.type]}}</p>
        <p class="m-0">{{utils.buildAgentUrl(activeAgent)}}</p>
        <h5 class="mb-0">Selected service</h5>
        <p class="m-0">{{activeService.service}}</p>
        <h5 class="mb-0">Selected service path</h5>
        <p class="m-0">{{activeService.servicePath}}</p>
    </div>
    <div *ngIf="!activeAgent || !activeService">
        <h5>No Selected agent</h5>
    </div>
    <br>
    <a *ngIf="activeAgent && activeService" href="javascript:void(0)" (click)="onLogout()"><i class="pi pi-sign-out pr-2"></i>Disconnect</a>
    <div *ngIf="activeAgent && activeService">
        <br><br><hr>
    </div>
    <ul class="menu-container">
        <li *ngFor="let item of menuItems"
            (click)="onMenuClick(item.routerLink)"
            [ngClass]="{'active': isActive(item.routerLink), 'disabled': !isMenuItemEnabled(item.routerLink)}"
        >
            <i [class]="'pi ' + item.icon"></i> 
            {{item.label}}
        </li>
    </ul>

</p-sidebar>
<div class="flex align-items-center gap-2">
    <p-button (click)="sidebarVisible = true" icon="pi pi-bars" size="small"></p-button>
    <img src="assets/fiware-logo.png" class="w-3rem"/>
    <h1>IoT Agent UI</h1>
</div>
<p-breadcrumb class="max-w-full" [model]="breadItems" [home]="home"></p-breadcrumb>
<div class="card flex justify-content-center gap-2">
    <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
</div>
<br>